.message{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D8E3FE;

       &::after {
        content: '';
        position: absolute;
        right: 41px; 
        top: 62px;
        border: 5px solid transparent;
        border-top: 5px solid;
       }

       &_sz-default{
        width: 92px;
        height: 64px;
       }

    &_white{
        background: white;

        &::after{
            border-top-color: white;
        }
    }
}