.main {
    position: relative;
    z-index: 2;
    overflow: hidden;

    &__plan-and-manage {
        display: flex;
        padding-left: 19%;
        gap: 55px;
    }

    &__about-app{
        padding-bottom: 200px;
    }

    &__blog{
        padding-top: 75px;
    }
}