@font-face {
    font-family: 'QuicksandBold';
    src: url('./res/fonts/Quicksand-Bold.ttf');
}

@font-face {
    font-family: 'QuicksandMedium';
    src: url('./res/fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('./res/fonts/Quicksand-Light.ttf');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('./res/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('./res/fonts/Roboto-Regular.ttf');
}
